/* confgurações gerais */

body {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.bgvideo {
   display: flex;
   position: fixed;
   background-size: cover;
   background-position: center;
   overflow: hidden;
   z-index: -100;
   position: bottom;
}
.container {
   max-width: 950px;
   margin: auto;
}

.logo img {
   width: 300px;
   height: auto;
   padding: 0px 20px;
}
.headerarea {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #010816;
   width: 100%;
   height: 100px;
}
.titlesection h1 {
   display: flex;
   justify-content: center;
   color: aliceblue;
}

/* menu*/


.menuarea img {
   width: 50px;
   height: auto;
   cursor: pointer;
   position: relative;
   right: 70px;
   top: 20px;
}
.menuarea {
   display: none;
   width: 200px;
   height: 100vh;
   position: fixed;
   top: 0;
   right: 0;
   background-color: #0da9607c;
   transition: all ease 1s;
   
}
.closed {
   width: 0px;   
}
.menuarea nav {
   margin-top: -30px;
   width: 100%;
}
.menuitem {
   display: flex;
   align-items: center;
   font-size: 17px;
   font-weight: bold;
   background-color: #0da9607c;
   padding: 10px;
   text-transform: uppercase;
   text-decoration: none;
   margin-bottom: 10px;
   color: white;
}
.menuitem:hover {
   transition: all ease 2s;
   background-color: greenyellow;
}


/* area 1 */

.area1 {
   display: flex;
   font-family: 'Share Tech', sans-serif;
   max-height: 500px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.area1text {
   background-color: rgba(255, 255, 255, 0.486);
   padding: 20px;
   border-radius: 10px;
   flex: 2;
   overflow: auto;
   max-height: 100%;
}
.banner1 img {
   border-radius: 10px;
   flex: 1;
   max-width: 350px;
   height: 100%;
}
.banner1 {
   padding-left: 20px;
}

/* area sliders */

.area2products {
   width: 500px;
   margin: auto;
   overflow: hidden;
}
.areasliders {
   display: flex;
   width: 1500px;
   height: 500px;
   margin-left: 0px;
}
.slider {
   width: 500px;
   height: 500px;
}
.sli1 {
   background-color: blue;
}
.sli2 {
   background-color: red;
}
.sli3 {
   background-color: black;
}
.espacoicons {
   display: flex;
   width: 100%;
   height: 100%;
   position: absolute;
   justify-content: center;
}
.areaiconslide {
   display: flex;
   width: 500px;
   justify-content: space-between;
   position: relative;
   top: 275px;
}
.iconslide {
   width: 50px;
   height: 50px;
   cursor: pointer;
}
/* /////////////////////////////   area 2 ///////////////////////*/

/* O contêiner flip box - defina a largura e a altura para o que você quiser. Adicionamos a propriedade border para demonstrar que o flip em si sai da caixa ao passar o mouse (remova a perspectiva se você não quiser o efeito 3D */
.flip-box {
   background-color: transparent;
   width: 300px;
   height: 200px;
   border: 1px solid #f1f1f1;
   margin: 5px;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
 }
 
 /* Este recipiente é necessário para posicionar a parte frontal e traseira */
 .flip-box-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 1s;
   transform-style: preserve-3d;
 }
 
 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-box:hover .flip-box-inner {
   transform: rotateY(180deg);
 }
 
 /* Position the front and back side */
 .flip-box-front, .flip-box-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
 }
 
 /* Style the front side */
 .flip-box-front {
   background-color: #bbb;
   color: black;
 }
 
 /* Style the back side */
 .flip-box-back {
   background-color: dodgerblue;
   color: white;
   transform: rotateY(180deg);
 }
 .area2 {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }


 /* ///////////////////////////// fim da area 2 ///////////////////////*/
