body {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.bgvideo {
   display: flex;
   position: fixed;
   background-size: cover;
   background-position: center;
   overflow: hidden;
   z-index: -100;
   position: bottom;
}
.bgvideo video {
}
.container {
   max-width: 1150px;
   margin: auto;
   z-index: 99;
}
.logo img {
   width: 200px;
   height: auto;
   padding: 0px 20px;
}
.headerarea {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #010816;
   width: 100%;
   height: 100px;
}

/* menu*/

.menuarea img {
   width: 50px;
   height: auto;
   cursor: pointer;
   position: relative;
   right: 70px;
   top: 20px;
}
.menuarea {
   
   width: 200px;
   height: 100vh;
   position: fixed;
   top: 0;
   right: 0;
   background-color: #0da9607c;
   transition: all ease 1s;
   
}
.closed {
   width: 0px;   
}
.menuarea nav {
   margin-top: -30px;
   width: 100%;
}
.menuitem {
   display: flex;
   align-items: center;
   font-size: 17px;
   font-weight: bold;
   background-color: #0da9607c;
   padding: 10px;
   text-transform: uppercase;
   text-decoration: none;
   margin-bottom: 10px;
   color: white;
}
.menuitem:hover {
   transition: all ease 2s;
   background-color: greenyellow;
}


/* area 1 */

.area1 {
   display: flex;
   font-family: 'Share Tech', sans-serif;
   max-height: 500px;
   padding: 20px;
}
.area1text {
   background-color: rgba(255, 255, 255, 0.486);
   padding: 20px;
   border-radius: 10px;
   flex: 2;
   overflow: auto;
   max-height: 100%;
}
.banner1 img {
   border-radius: 10px;
   flex: 1;
   max-width: 350px;
   height: 100%;
}
.banner1 {
   padding-left: 20px;
}

