@media (max-width:800px) {

   .area1 {
      flex-direction: column-reverse;
      max-height: none;
   }
   .area1text {
      margin: 20px;
      overflow:auto;
      max-height: 300px;
      text-align: center;
   }
   .banner1 {
      margin: auto;
      padding: 0px;
      max-width: 300px;
   }
   .banner1 img {
      max-width: 100%;
   }
   /* /////////////////////////////////////////// area tecnologia /////////////////////////////////////////////*/

   .tecnoimage img {
      width: 80px;
   }
   .logo img {
      width: 200px;
   }
   .footersideall {
      flex-direction: column;
      text-align: center;
      text-decoration: none;
   }
   .footerside1 {
      flex-direction: column;
   }
  
   .icone {
      margin-top: 20px;
   }
}